courses/specialist/уровень-4/модуль-5/php2wsdl/example/test.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- WSDL file generated by PHP WSDLCreator (http://www.protung.ro) -->
<definitions name="WSDLExample1" targetNamespace="urn:WSDLExample1" xmlns:typens="urn:WSDLExample1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:typens0="http://localhost/php2swdl">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:WSDLExample1">
			<xsd:complexType name="dummy">
				<xsd:all/>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="__construct">
		<part name="p1" type="xsd:string"/>
	</message>
	<message name="__constructResponse"/>
	<message name="__construct">
		<part name="ex1" type="typens:dummy"/>
	</message>
	<message name="__constructResponse"/>
	<message name="__construct">
		<part name="x1" type="xsd:string"/>
	</message>
	<message name="__constructResponse">
		<part name="__constructReturn" type="xsd:integer"/>
	</message>
	<message name="test">
		<part name="p11" type="xsd:string"/>
		<part name="p2" type="xsd:string"/>
	</message>
	<message name="testResponse">
		<part name="testReturn" type="xsd:string"/>
	</message>
	<message name="test22222">
		<part name="p11" type="typens0:XMLCreator"/>
		<part name="p21" type="xsd:anyType"/>
	</message>
	<message name="test22222Response">
		<part name="test22222Return" type="xsd:anyType"/>
	</message>
	<message name="test33333">
		<part name="p11" type="xsd:anyType"/>
		<part name="p21" type="xsd:anyType"/>
	</message>
	<message name="test33333Response"/>
	<portType name="example1PortType">
		<operation name="__construct">
			<documentation>Constructor</documentation>
			<input message="typens:__construct"/>
			<output message="typens:__constructResponse"/>
		</operation>
	</portType>
	<portType name="example1_1PortType">
		<operation name="__construct">
			<documentation>Constructors</documentation>
			<input message="typens:__construct"/>
			<output message="typens:__constructResponse"/>
		</operation>
	</portType>
	<portType name="dummyPortType">
		<operation name="__construct">
			<documentation>Constructor</documentation>
			<input message="typens:__construct"/>
			<output message="typens:__constructResponse"/>
		</operation>
		<operation name="test">
			<documentation>Constructor</documentation>
			<input message="typens:test"/>
			<output message="typens:testResponse"/>
		</operation>
		<operation name="test22222">
			<documentation>Enter description here...</documentation>
			<input message="typens:test22222"/>
			<output message="typens:test22222Response"/>
		</operation>
		<operation name="test33333">
			<input message="typens:test33333"/>
			<output message="typens:test33333Response"/>
		</operation>
	</portType>
	<binding name="example1Binding" type="typens:example1PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="__construct">
			<soap:operation soapAction="urn:example1Action"/>
			<input>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<binding name="example1_1Binding" type="typens:example1_1PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="__construct">
			<soap:operation soapAction="urn:example1_1Action"/>
			<input>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<binding name="dummyBinding" type="typens:dummyPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="__construct">
			<soap:operation soapAction="urn:dummyAction"/>
			<input>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="test">
			<soap:operation soapAction="urn:dummyAction"/>
			<input>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="test22222">
			<soap:operation soapAction="urn:dummyAction"/>
			<input>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="test33333">
			<soap:operation soapAction="urn:dummyAction"/>
			<input>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:WSDLExample1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="WSDLExample1Service">
		<port name="example1Port" binding="typens:example1Binding">
			<soap:address location="http://protung.ro/examplewsdl"/>
		</port>
		<port name="example1_1Port" binding="typens:example1_1Binding">
			<soap:address/>
		</port>
		<port name="dummyPort" binding="typens:dummyBinding">
			<soap:address/>
		</port>
	</service>
</definitions>