courses/specialist/уровень-4/модуль-5/sample_server_2/bookservice.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="BooksService" 
		targetNamespace="urn:BooksService" 
		xmlns:tns="urn:BooksService" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns="http://schemas.xmlsoap.org/wsdl/">
	
	<!-- Типы данных -->
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:BooksService">
			<!-- Класс "категория" -->
			<xsd:complexType name="Category">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" minOccurs="1" maxOccurs="1" />
					<xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="parent" type="xsd:int" minOccurs="1" maxOccurs="1" default="0" />					
				</xsd:sequence>
			</xsd:complexType>
			<!-- Массив категорий -->
			<xsd:complexType name="ArrayOfCategories">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="category" type="tns:Category"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Класс "книга" -->
			<xsd:complexType name="Book">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" minOccurs="1" maxOccurs="1" />
					<xsd:element name="author" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="image" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="category" type="xsd:int" minOccurs="1" maxOccurs="1" default="0" />					
				</xsd:sequence>
			</xsd:complexType>	
			<!-- Массив книг -->
			<xsd:complexType name="ArrayOfBooks">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="book" type="tns:Book"/>
				</xsd:sequence>
			</xsd:complexType>			
		</xsd:schema>
	</types>

	<!-- Сообщения метода "Получить категории" -->
	<message name="getCategories"/>
	<message name="getCategoriesResponse">
		<part name="categories" type="tns:ArrayOfCategories" />
	</message>	
	
	<!-- Сообщения метода "Добавить книгу" -->
	<message name="addBook">
		<part name="newBook" type="tns:Book"/>
	</message>
	<message name="addBookResponse">
		<part name="addBookResult" type="xsd:boolean"/>
	</message>

	<!-- Сообщения метода "Удалить книгу" -->
	<message name="deleteBook">
		<part name="bookId" type="xsd:int"/>
	</message>
	<message name="deleteBookResponse">
		<part name="deleteBookResult" type="xsd:boolean"/>
	</message>
	
	<!-- Сообщения метода "Получить книги по категории" -->
	<message name="getBooks">
		<part name="categoryId" type="xsd:int"/>
	</message>
	<message name="getBooksResponse">
		<part name="books" type="tns:ArrayOfBooks"/>
	</message>
	
	<!-- Сообщения метода "Заменить книгу" -->
	<message name="replaceBook">
		<part name="newBook" type="tns:Book"/>
	</message>
	<message name="replaceBookResponse">
		<part name="replaceBookResult" type="xsd:boolean"/>
	</message>
	
	<!-- Привязка сообщений к методам -->
	<portType name="ServerPortType">
		<operation name="getCategories">
			<documentation>Получение списка категорий</documentation>
			<input message="tns:getCategories"/>
			<output message="tns:getCategoriesResponse"/>
		</operation>	
		<operation name="addBook">
			<documentation>Добавление новой книги</documentation>
			<input message="tns:addBook"/>
			<output message="tns:addBookResponse"/>
		</operation>
		<operation name="deleteBook">
			<documentation>Удаление книги</documentation>
			<input message="tns:deleteBook"/>
			<output message="tns:deleteBookResponse"/>
		</operation>
		<operation name="getBooks">
			<documentation>Получение всех книг по указанной категории</documentation>
			<input message="tns:getBooks"/>
			<output message="tns:getBooksResponse"/>
		</operation>
		<operation name="replaceBook">
			<documentation>Замена книги по ID</documentation>
			<input message="tns:replaceBook"/>
			<output message="tns:replaceBookResponse"/>
		</operation>
	</portType>
	
	<!-- Определение методов -->
	<binding name="ServerBinding" type="tns:ServerPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="addBook">
			<soap:operation soapAction="urn:SampleServer2-addBook"/>
			<input>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteBook">
			<soap:operation soapAction="urn:SampleServer2-deleteBook"/>
			<input>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getBooks">
			<soap:operation soapAction="urn:SampleServer2-getBooks"/>
			<input>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getCategories">
			<soap:operation soapAction="urn:SampleServer2-getCategories"/>
			<input>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="replaceBook">
			<soap:operation soapAction="urn:SampleServer2-replaceBook"/>
			<input>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:BooksService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	
	<!-- Определение сервиса -->
	<service name="BooksServiceService">
		<port name="ServerPort" binding="tns:ServerBinding">
			<soap:address location="http://localhost:80/AJAX/demo/module5/sample_server_2/server.php"/>
		</port>
	</service>
</definitions>